.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: auto;
  background-color: #ffffff;
  border: 2px solid #E0C097; /* Цвет рамки */
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  width: 55%;
  max-width: 650px;
  min-width: 350px;
}

.register-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #8B5E3C; /* Коричневый цвет заголовка */
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.register-button {
  background-color: #A26907; /* Цвет кнопки */
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.register-button:hover {
  background-color: #824F23; /* Затемнение кнопки при наведении */
  transform: scale(1.05);
}

.alert-danger {
  background-color: #F8D7DA;
  color: #721C24;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #F5C6CB;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .register-container {
      width: 85%;
      padding: 20px;
  }
}
